<html>
  <head>
    <title>Login Page</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/index.css">
  </head>


  <body>
    <!-- Heading -->
    <h1>Login Page</h1>

    <!-- Login Form -->
    <form action="/login" method="post">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Login">
    </form>

    <br>

    <!-- Sign Up Form -->
    <form action="/signup" method="post">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Sign Up">
    </form>

  </body>
</html>